*{
    margin: 5px;
    padding: 10px;
}
.card{
    color: blue;
    border: 5px double bisque;
    margin: 10px;
    padding: 10px;
}
.btn{
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    border: 4px solid purple;
}
div{
    padding: 5px;
    color: brown;
    background-color: cornsilk;
    box-shadow: 10px 10px 10px gray;
    margin: 10px;
}
.img-background{
    height: 500px;
    background-image: url('images.jpg');
    background-color: aquamarine;
    background-size: cover;
}
image{

}